  body,html{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  .center-box:hover{
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    transition: all 0.15s ease-in;
  }
.footer{
  background:#333;
  color:#fff;

}
.footer p{

  font-size: 11px;
  padding-top: 8px;
  color: white;
  text-align: center;
}

  .row{

    z-index: 2;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;

  }
  .main-nav{
    height:30px;
    list-style: none;
    margin-top: 0px;
    padding: 10px;
  }
  .main-nav li{

  display: inline-block;


  }

  .main-nav li a{
    color: white;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 13px;

  }

  .main-nav li a:hover{
    color: #ffcc66;
    transition: all 0.20s ease-in;
  }

  .btn:hover{
    background-color: #ffcc66;
    border-color: #ffcc66;
    transition: all 0.25s ease-in;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
  #main-tab{

    color: #ffcc66;

  }
  li.right{
      text-align: right;
  }
.p{
align-text:center;
}